<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>우리동네 정책지도</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=h40gacoup9"></script>
    <link rel = "stylesheet" href ="/stylesheets/style.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aacd1530a9322813269cc7ca0188e286&libraries=services"></script>"
  </head>
<body>
  
  <div id="map" style="width:100%;height:100vh;"></div>
  <div class="sc-hKFyIo bdDYJz">
    <div class="sc-bdnylx fgmvvw sc-gtssRu gmjWml">
      <div style="width: auto; font-size: 1.3rem; font-weight: 900; margin-right: 12px;">정책지도</div>
      <div style="width: 1px; opacity: 0.2; height: 80%; background: rgb(112, 112, 112);"></div>
      <div class="sc-eCApGN htLRdL">
        <div class="sc-jSFkmK jGLdVH"></div>
        <img width="20" height="20" alt="testA" src="/images/search_icon.png"></div>
      </div>
    </div>
  <script type = "text/javascript" src = "/javascripts/MarkerClustering.js"></script>
  <script type = "text/javascript" src = "/javascripts/main.js"></script>
</body>
</html>